<form action="" class="form-inline">
    <div class="form-group">
        <label for="countrySelect">Country</label>
        <select name="" id="countrySelect" class="form-control" ng-model="$ctrl.selectedCountry" ng-change="$ctrl.getDivisionsFromCountry($ctrl.selectedCountry)">
            <option value="{{country.alpha2}}" ng-repeat="country in $ctrl.countries | orderBy: $ctrl.orderByName">{{country.officialName}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="divisionSelect">Division</label>
        <select name="" id="divisionSelect" class="form-control" ng-model="$ctrl.selectedDivision" ng-change="$ctrl.getWeatherFromDivision($ctrl.selectedDivision)">
            <option value="{{division}}" ng-repeat="division in $ctrl.countryDivisions | orderBy: $ctrl.orderByName">{{division}}</option>
        </select>
    </div>
</form>
<div class="alert alert-danger hidden" role="alert" id="errorAlert">
    <button type="button" class="close" ng-click="$ctrl.closeErrorAlert()">
        <span aria-hidden="true">&times;</span>
    </button>{{$ctrl.ErrorMessage}}
</div>