<form action="" class="form-inline">
    <div class="form-group">
        <label for="countrySelect">Country</label>
        <select name="" id="countrySelect" class="form-control w3-border-yellow" ng-model="$ctrl.selectedCountry" ng-change="$ctrl.getDivisionsFromCountry($ctrl.selectedCountry)">
            <option value="{{country.alpha2}}" ng-repeat="country in $ctrl.countries | orderBy: $ctrl.orderByName">{{country.officialName}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="divisionSelect">Division</label>
        <select name="" id="divisionSelect" class="form-control w3-border-yellow" ng-model="$ctrl.selectedDivision" ng-change="$ctrl.getWeatherFromDivision($ctrl.selectedDivision)">
            <option value="{{division}}" ng-repeat="division in $ctrl.countryDivisions | orderBy: $ctrl.orderByName">{{division}}</option>
        </select>
    </div>
</form>
<br>
<div class="w3-panel w3-red w3-card-4 w3-display-container w3-animate-top hidden" role="alert" id="errorAlert">
    <span aria-hidden="true" ng-click="$ctrl.closeErrorAlert()" class="w3-button w3-red w3-large w3-display-topright">&times;</span>
    <h3>Error!</h3>
    <p>{{$ctrl.ErrorMessage}}</p>
</div>